*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    /*border: 1px solid red;*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    background-color: #261A24;
    color: whitesmoke;
}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    background-color: #1A0E17;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div img{
    width: 8rem;

    transition: transform 0.5s ease;
}

header:hover div img{
    transform: rotate(-10deg) scale(1.08);
}

header div h1{
    color: rgb(224, 224, 224);
    text-shadow: 4px 4px 2px #815777;
    text-align: center;
    font-family: "Kavoon";
    font-size: 3rem;
    letter-spacing: 10px;
    width: 55%;;
}

header h3{
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #815777;
}

/*NAV*/

.menu-button{
    display: none;
}

nav{
    width: 100%;
    height: 40px;
    background-color: #815777;
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li a{
    font-family: "Kavoon";
    text-decoration: none;
    color:#1A0E17;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;

    transition: all 0.5s ease;

}

nav ul li a:hover{
    background-color: whitesmoke;
    height: 120%;
}

/*MAIN*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px 0px;
    gap: 30px;
    
    animation: fadeUp 1s ease;
}

main hr{
    width: 90%;
    border-color: #815777;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

main h2{
    font-family: "Kavoon";
    color: #b3879e;
    letter-spacing: 3px;
    font-size: 2rem;
}

main section video{
    width: 70%;
    border-radius: 10px;
}

main section p{
    width: 90%;
}

main section strong{
    color: #b3879e;
}

main section ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px
}

main section ul li{
    text-align: start;
    border: 1px solid #815777;
    border-radius: 10px;
    padding: 10px;

    transition: all 0.5s ease;
}

main section ul li:hover{
    background-color: #b3879e;
    color: #1A0E17;  
}



/*FOOTER*/

footer{
    background-color: #1A0E17;
    width: 100%;

}

.footer1{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer1 article{
    width: 20%;
}

.footer1 article hr{
    margin: 10px 0;
}

.footer1 article ul{
    list-style: none;
}

.footer1 article ul li{
    margin-top: 5px;
}

.footer1 article ul li a{
    color: #815777;
    text-decoration: none;

    transition: all 0.3s ease;
}

.footer1 article ul li a:hover{
    color: white;
    padding-left: 5px;
}

.footer1 a img{
    width: 10rem;
}

.footer1 a img:hover{
    opacity: 0.8;
}

footer section:last-child{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1024px) and (min-width: 769px){

    main{
        width: 90%;
    }
    header div h1{
        font-size: 2rem;
        letter-spacing: 6px;
    }

    header div img{
        width: 6rem;
    }
    
    nav ul li a{
        font-size: 1.2rem;
    }

    .footer1 article{
        width: 25%;
    }
}

@media screen and (max-width: 768px){

    header img{
        display: none;
    }

    header div h1{
        width: 90%;
        font-size: 2rem;
        letter-spacing: 3px;
    }

    nav{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;

        cursor: pointer;
    }

    .menu-button{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-button button{
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 5px;

        background-color: #b3879e;

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2826,14,23,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

        background-repeat: no-repeat;
        background-position: center;

        transition: transform 0.4s ease;
        cursor: pointer;
    }

    .menu-button button.active{
        transform: rotate(90deg);
    }

    .menu:not(.show){
        display: none;
    }

    .menu.show{
        display: flex;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav ul li{
        width: 100%;
    }

    nav ul li a{
        justify-content: center;
        padding: 15px;
    }

    main{
        width: 95%;
    }

    main h2{
        font-size: 1.4rem;
    }

    main section{
        justify-content: center;
    }

    main section ul{
        padding-left: 20px;
    }

    .footer1{
        padding: 20px;
    }

    .footer1 article{
        width: 40%;
        text-align: center;
    }

    .footer1 a img{
        width: 7rem;
    }

    footer section:last-child{        
        font-size: 0.8rem;
    }

}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
